@font-face {
    font-family: oscar;
    src: url(./fonts/bu-oscar-diggs-font/BuOscarDiggs-dMKx.ttf);
}
@font-face{
    font-family: aidil;
    src: url(./fonts/a-aidilfitri-font/Aidilfitri-1Gaa2.ttf);
}
@font-face{
    font-family: balgruf;
    src: url(./fonts/balgruf-font/Balgruf-JRye7.ttf);
}
@font-face{
    font-family: anggaran;
    src: url(./fonts/a-anggaran-dasar-font/AnggaranDasar-PKqDB.ttf);
}
@font-face{
    font-family: ahlan-wasahlan;
    src: url(./fonts/a-ahlan-wasahlan-font/AAhlanWasahlan-9YKnn.ttf);
}
@font-face{
    font-family: wicked;
    src: url(./fonts/bu-wicked-font/BuWicked-2dOW.ttf);
}
@font-face{
    font-family: chomsky;
    src: url(./fonts/chomsky-font/);
}
@font-face{
    font-family: cloister;
    src: url(./fonts/cloister-black-font/CloisterBlackLight-axjg.ttf);
}
@font-face{
    font-family: fogli;
    src: url(./fonts/foglihtenno07-font/Foglihtenno07-8qnn.otf);
}
@font-face{
    font-family: IBM;
    src: url(./fonts/IBM_Plex_Sans/IBMPlexSans-Thin.ttf);
}
@font-face{
    font-family: playfair;
    src: url(./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face{
    font-family: poiret;
    src: url(./fonts/Poiret_One/PoiretOne-Regular.ttf);
}

 @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');



html{
/* fullscreen width */

  /* width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
    overflow-x: hidden; */

}
/* .site-title{
    font-family: playfair;
    color:rgb(0, 0, 0);
} */

.grid-row-span-2{
    grid-row: span 2;
}




nav{
    /* background-color:rgb(150, 176, 208); */

    margin: 0 auto;
    /* position: absolute; */
    width: 100%;
    top: 0;
    left: 0;



/* fullscreen width */
    /* width: 100vw; */
    /* left: 50%;
    right: 50%; */
    /* margin-left: -50vw;
    margin-right: -50vw; */
}

nav::after{
    content: '';
    display: table;
    clear: both;
}

#nav-logo{
    float: left;
    /* padding: 10px; */
    height: 4rem;
    margin: 0px;

} 

nav h2{
    float: left;
    margin: 0;
    margin-left: 18px;
    padding: 0;
    font-family: poiret;
    font-size: 2em;
    margin-top: 20px;
}

nav ul{

    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}

nav li{
    /* display: inline-block; */
    margin-left: 100px;
    padding-top:35px;
    padding-bottom: 0px;

    position: relative;
}

nav a {
    color:#444;
    text-decoration: none;
    text-transform: uppercase;
	font-family: 'Work Sans', sans-serif;

}

nav li:hover{
    color: #000

    
}

nav li::before{
    content: '';
    display: block;
    height: 1px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav li:hover::before{
    width:100%;
    
}







header{
    /* display: grid; */
    /* border: solid; */
    border-color: rgb(218, 30, 30);
    /* background-image: url(./images/photos/floral.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: 0;  */
    /* width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw; */

    /* transform: translate(-200px); */

    height: 100vh;
    padding-top: 25vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

header > *{
    /* border: solid; */
    border-color: blue;    

}

/* .logo img{
    width: 12rem;
    border: solid;
    border-color: rgb(222, 138, 22);
} */
/* 
.logo{
    /* grid-column: 1; */
    /* border: solid; */
    /* border-color: rgb(33, 150, 29);

    display: flex;
    align-items: end;
    justify-content: right; */

    /* transform: translateY(25px); 

} */



/* .main-title{
    font-size: 10em;
    grid-column: 2;

    /* transform: translate(100px); */




.tagline-header{
    font-size: 2em;
    font-family: IBM;
    color: rgb(69, 63, 63);

    display: flex;
    align-items: center;
    justify-content: center;



/* 
    grid-column: 2;
    grid-row: 2; */

    /* transform:translate(0, 50px); */
   
}
.subtitle-body{
    font-size: 3em;
    font-family: IBM;
}


body{
    padding-left: 10rem;
    margin-right: 10rem;
    background-color: bisque;
    background-image: url(./images/yuriy-kovalev-nN1HSDtKdlw-unsplash\ \(1\).jpg);
    background-size: cover;

}

.container-1{
    height: 100vh;
}


.text-body-1{
    font-size: 2.5em;
    font-family: IBM;

    padding-left: 10rem;
    padding-right: 10rem;

}

.text-body-2{
    font-size: 2em;
    font-family: IBM;

    padding: 18rem;
    grid-column: 1;
}



.container-2{
    display: grid;
    background-color:rgba(209, 76, 232, 0.343);

    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.container-2 img{
    height: 60em;
    grid-column: 2;

}